h1{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  background-size: 50px,150px cover;
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
body{
  font-family: Helvetica;
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brushes h2{
  background-color: mediumspringgreen;
}
#frames h2{
  background-color: lightcoral;
}
#paint h2{
  background-color: skyblue;
}
#price{
  color: blue;
  font-weight: bold;
}
